@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card {
  padding: 20px;
  margin-top: 30px;
  box-shadow: 0 12px 18px 2px rgba(34, 0, 51, 0.04), 0 6px 22px 4px rgba(7, 48, 114, 0.12),
      0 6px 10px -4px rgba(14, 13, 26, 0.12) !important;
  border-radius: 16px;
  background-color: rgba(231, 229, 229, 0.6);
  /* background-color: rgba(12, 12, 12, 0.6); */
  animation: slideinLeft 3s infinite;
}

h2 {
  font-weight: bold;
}

p {
  color: rgb(180, 99, 163);
}